.navbar-nav {
  margin-left: auto;
  justify-content: space-around;
}
.rn {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 50px;
  transform: translate(50%,50%);
}
.navbar-brand {
  font-family:cursive;
  font-size: large;
  font-weight: bold;
  color: rgb(129, 20, 5);
}
.navbar{
    background-color: rgba(186, 220, 232, 0.427);
}
#navbarNav{
font-size: larger;
font-weight: bold;
font-size: 20px;
}

.nav-item :hover{
  text-decoration: underline;
  color: rgb(243, 107, 186);
}

@media (max-width: 768px) {
  .navbar-nav {
    justify-content: center;
  }

  .navbar-collapse {
    background-color: rgba(221, 230, 233, 0);
  }

  .navbar-toggler {
    margin-bottom: 10px;
  }

  .navbar-nav .nav-item {
    text-align: center;
  }

  .navbar-link .nav-link {
    font-size: 18px;
    padding: 10px 0;
  }
}



