<header class="header">
  <a href="" class="logo"><h1>PortFolio</h1></a>
  <nav class="navbar">
    <ul class="navbar-lists">
      <li><a routerLink="/home" class="navbar-link home-link" routerLinkActive="active home">Home</a></li>
      <li>
        <a routerLink="/about" class="navbar-link about-link">About</a>
      </li>
      <li>
        <a routerLink="/education" class="navbar-link about-link">Education</a>
      </li>
      <li>
        <a routerLink="/certificates" class="navbar-link certificate-link" >Certification</a>
      </li>
      <li>
        <a routerLink="/project" class="navbar-link project-link" aria-disabled="true">Projects</a
        >
      </li>
      <li>
        <a routerLink="/contact" class="navbar-link contact-link">Contact</a>
      </li>
    </ul>
  </nav>

</header>

