<nav class="navbar navbar-expand-lg navbar-light  ">
      <div class="container-fluid">
         <img src="../../assets/logo.png" class="rn">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav me-2">
            <li class="nav-item me-5">
              <a routerLink="/home" class="nav-link" routerLinkActive="active home">Home</a>
            </li>
            <li class="nav-item active me-5">
              <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item active me-5">
              <a class="nav-link" routerLink="/education">Education</a>
            </li>
            <li class="nav-item active me-5">
              <a class="nav-link" routerLink="/skill">Skills</a>
            </li>
            <li class="nav-item active me-5">
              <a class="nav-link" routerLink="/certificates">Certificates</a>
            </li>
            <li class="nav-item active me-5">
              <a routerLink="/project" class="nav-link" aria-disabled="true">Projects</a>
            </li>
            <!-- <li class="nav-item active me-5">
              <a class="nav-link" routerLink="/exprience">Experience</a>
            </li> -->
            <li class="nav-item active me-5">
              <a class="nav-link" routerLink="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

