<footer class="section-footer section">
  <div class="container grid grid-four-column">
    <div class="f-about">
      <h3>About</h3>
      <p>
        Explore my portfolio to discover a collection of diverse projects, each crafted with dedication and a passion for innovation.
        From web development to design and beyond,
        I'm excited to share my journey of creativity and problem-solving with you.
      </p>
    </div>
    <!-- end -->
    <div class="f-links">
      <h3>Links</h3>
      <ul>
        <li>
      <span><i class='bx bx-right-arrow-alt'></i></span><a routerLink="/home">home</a>
        </li>
        <li>
          <span><i class='bx bx-right-arrow-alt'></i></span
          ><a routerLink="/about">about</a>
        </li>
        <li>
          <span><i class='bx bx-right-arrow-alt'></i></span
          ><a routerLink="/education">Education</a>
        </li>
        <li>
          <span><i class='bx bx-right-arrow-alt'></i></span
          ><a routerLink="/project">projects</a>
        </li>

        <li>
          <span><i class='bx bx-right-arrow-alt'></i></span><a routerLink="/contact">contact</a>
        </li>
      </ul>
    </div>
    <!-- end  -->
    <div class="f-services">
      <h3>certificats</h3>
      <ul>
        <li>
          <span><i class='bx bx-right-arrow-alt'></i></span
          ><a routerLink="/certificates">Angular crash course</a>
        </li>
        <li>
          <span><i class='bx bx-right-arrow-alt'></i></span
          ><a routerLink="/certificates">Introduction Frontend technologies</a>
        </li>
        <li>
          <span><i class='bx bx-right-arrow-alt'></i></span
          ><a routerLink="/project">Some Project</a>
        </li>
      </ul>
    </div>
    <!-- end  -->
    <div class="f-address">
      <h3>Have a Questions?</h3>
      <address>
        <div>
          <p>
           <a routerLink="/contact"></a> <span><i class='bx bxs-location-plus'></i></span>
           Godhra, Gujarat
          </p>
        </div>

        <div>
          <p>
            <span><i class='bx bx-phone-call' ></i></span>
            <a href="tel:+919737804309"> +91 9737804309 </a>
          </p>
        </div>

        <div>
          <p>
            <span><i class='bx bxl-gmail' ></i></span>
            <a href="mailto:kevalanirina1511@gmail.com">
             kevalanirina1511@gmail.com
            </a>
          </p>
        </div>
      </address>
    </div>
  </div>

  <div class="container">
    <div class="f-social-icons">
      <a href="https://www.instagram.com/kevlani_15/" target="_blank">
        <i class='bx bxl-instagram icons' ></i>
      </a>

      <a href="https://www.linkedin.com/in/rina-kevalani-762060218/" target="_blank">
        <i class='bx bxl-linkedin icons'></i>
      </a>

      <a href="https://github.com/Rina15Kevalani" target="_blank">
        <i class='bx bxl-github icons'></i>
      </a>
    </div>

    <div class="f-credits">
      <p>
        Copyright ©2023 All rights reserved | This template is made with ❤
        by Rina kevalani
      </p>
    </div>
  </div>
</footer>




