<section class="section-about section">
  <div class="container grid grid-two-column">
    <div class="about-image">
      <img src="../../assets/img-4.jpg" alt="my bio data image" />
    </div>
    <!-- bio right side data  -->
    <div class="about-data">
      <h2 class="common-heading">About me</h2>
      <p>
        Fresher | Hardworker | Creative | Flexible | Positive .
       </p>

       <div class="portfolio-info">
        <h2>Introducing Myself</h2>
        <p>Hello, I'm Rina, and I'm embarking on my journey as a web developer and designer. I hold an MCA degree from Charusat University, where I explored a range of technologies like HTML, CSS, JavaScript, Angular, and more. During my studies, I immersed myself in practical work, including case studies and small-scale Android projects. This exposure ignited my passion for web development.</p>

    <p>To strengthen my skills, I compeleted an Advanced Certification in Full Stack Java Web Development. Through this program, I honed my expertise in HTML, CSS, JavaScript, Typescript, Angular, and MySQL. My primary focus is on crafting visually appealing and seamlessly functional websites.</p>

    <p>I've also had the opportunity to create diverse projects, from restaurant websites to movie apps and employee management systems. I'm committed to staying up-to-date with the latest technologies and best practices, and I actively seek out web development courses to enhance my skills.</p>

    <p>If you're in search of a web developer with a fresh perspective and a dedication to excellence, I'd love to connect with you.</p>

      </div>
    </div>
  </div>
  </section>
