<section class="section-about section">
  <div class="container grid grid-two-column">
    <div class="about-image">
      <img src="../../assets/img3.avif" alt="my bio data image" />
    </div>
    <!-- bio right side data  -->
    <div class="about-data">
      <h2 class="common-heading">About me</h2>
      <p>
        To enhance my professional skills, capabilities and
        knowledge in an organization which recognizes the
        value of hard work and trusts me with responsibilities
        and challenges.
      </p>
      <br/>
      <p>
       Hardworker | Creative | Flexible | Positive .
      </p>
      <div class="about-data-stats">
        <div class="about-stats">
          <h1>Skills</h1>
          <h3>Design</h3>
          <div class="about-progress-bar">
            <span>80%</span>
          </div>
        </div>
        <div class="about-stats">
          <h3>HTML</h3>
          <div class="about-progress-bar about-progress-2">
            <span>99%</span>
          </div>
        </div>
        <div class="about-stats">
          <h3>CSS</h3>
          <div class="about-progress-bar about-progress-3">
            <span>90%</span>
          </div>
        </div>
        <div class="about-stats">
          <h3>JavaScript</h3>
          <div class="about-progress-bar about-progress-4">
            <span>80%</span>
          </div>
        </div>
        <div class="about-stats">
          <h3>Angular</h3>
          <div class="about-progress-bar about-progress-5">
            <span>75%</span>
          </div>
        </div>
        <div class="about-stats">
          <h3>Corejava</h3>
          <div class="about-progress-bar about-progress-6">
            <span>65%</span>
          </div>
        </div>
      </div>
      <div class="about-data-btn">
        <a  class="btn" (click)="downloadCV()">Download CV</a>
      </div>
    </div>
  </div>
</section>



















<!------<section class="about">
  <div class="image">
    <img src="../../assets/img.png" alt="profile_image">
</div>

<div class="about-content">
    <h1>About Me</h1>
    <br>
  <p *ngFor="let sentence of aboutMe">
    {{sentence}}
  </p>
  <p>
    As a fresher and motivated full-stack developer,
    I am eager to leverage my strong understanding of front-end and back-end technologies to
    contribute to innovative projects. with a passion
    for learning and problem-solving. I aim to apply
    my skills and dedication to deliver efficient and
    User-friendly web solutions.
  </p>
  <div class="cv">
    <a routerLink="/" class="btn" (click)="downloadCV()">Download CV<i class="fas fa-download"></i></a>
  </div>

</div>

</section>

--->


