<section class="section-about section">
  <div class="container grid grid-two-column">
    <div class="about-image">
      <img src="../../assets/img3.avif" alt="my bio data image" />
    </div>
    <!-- bio right side data  -->
    <div class="about-data">
      <h2 class="common-heading">About me</h2>
      <p>
        Hardworker | Creative | Flexible | Positive .
       </p>
       <br>
      <p>
        Hello there! This is Rina, Looking for an opportunity in field of web development and web designing.
        I have completed MCA From Charusat University, changa. During MCA, I have gathered to technologies languages like Java, Python, PHP, Laravel, Bootstrap, . NET, Android, Artificial Intelligence.
        I made case studies in all these languages ​​and also worked on mini projects in Android. I was exposed to all these technologies. I wanted to build my strong skill on any one technology. So I have joined Advance certification Full stack java web development course. In this course, I have strongly skilled in HTML, CSS, Javascript, Typescript, Angular, My SQL. My focus is on designing and developing websites that look great and work well. I am skilled in a range of programming languages and platforms, including HTML, CSS, Javascript, Typescript, Angular, Core java and My SQL. In languages, I have some projects created different, such as restaurants, cake shop, movie app, employee management, course registration.I am committed to keeping up with this language and best practices, and I attend web course development courses to improve my skills.
        If you are looking for a web developer with skills, please feel free to get in touch with me.
      </p>
      <br/>

      <div class="about-data-btn">
        <a  class="btn" (click)="downloadCV()">Download CV</a>
      </div>


      <div class="about-data-stats">
        <div class="about-stats">
          <h1>Skills</h1>
          <h3>Design</h3>
          <div class="about-progress-bar">
            <span>80%</span>
          </div>
        </div>
        <div class="about-stats">
          <h3>HTML</h3>
          <div class="about-progress-bar about-progress-2">
            <span>99%</span>
          </div>
        </div>
        <div class="about-stats">
          <h3>CSS</h3>
          <div class="about-progress-bar about-progress-3">
            <span>90%</span>
          </div>
        </div>
        <div class="about-stats">
          <h3>JavaScript</h3>
          <div class="about-progress-bar about-progress-4">
            <span>80%</span>
          </div>
        </div>
        <div class="about-stats">
          <h3>Angular</h3>
          <div class="about-progress-bar about-progress-5">
            <span>75%</span>
          </div>
        </div>
        <div class="about-stats">
          <h3>Corejava</h3>
          <div class="about-progress-bar about-progress-6">
            <span>65%</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>



<!------<section class="about">
  <div class="image">
    <img src="../../assets/img.png" alt="profile_image">
</div>

<div class="about-content">
    <h1>About Me</h1>
    <br>
  <p *ngFor="let sentence of aboutMe">
    {{sentence}}
  </p>
  <p>
    As a fresher and motivated full-stack developer,
    I am eager to leverage my strong understanding of front-end and back-end technologies to
    contribute to innovative projects. with a passion
    for learning and problem-solving. I aim to apply
    my skills and dedication to deliver efficient and
    User-friendly web solutions.
  </p>
  <div class="cv">
    <a routerLink="/" class="btn" (click)="downloadCV()">Download CV<i class="fas fa-download"></i></a>
  </div>

</div>

</section>

--->


