 <section class="section section-project" id="project-section">
  <div class="container">
    <h2 class="heading">My Projects</h2>
    <p>
      These projects have allowed me to showcase my skills in [Html, CSS, Bootstrap, javascript,angular, corejava, SpringBoot,MySQL],and I've gained valuable experience in Full stack web developer Certification. Whether working independently or as part of a collaborative team,
       I'm passionate about creating solutions that not only solve problems but also delight users.
       I take pride in my ability to adapt to new technologies and challenges quickly, and I'm always eager to take on the next exciting project.
       Explore my portfolio to see how I've tackled various projects, each with a commitment to quality, creativity, and innovation."
    </p>
  </div>

  <div class="container grid grid-three-column project-images">
    <div class="img-overlay">
      <img src="../../assets/prj-1.jpg" alt="my works" />
      <div class="card-body">
        <h5 class="card-title">Employee Management System</h5>
        <p class="card-text">
          Developed a dynamic Employee Management System using Angular,
          streamlining HR processes, and enhancing team efficiency. Designed an intuitive
          user interface for seamless data entry and retrieval, supporting CRUD operations for employee records.
          <strong>Key Achievements:</strong>
          Angular-based frontend development for a responsive and user-friendly interface.
        </p>
        <h4>Technology used:</h4>
        <p>Frontend: Angular</p>
        <span class="hand-emoji">Click this Project☝️</span>
  </div>
      <div class="overlay">
        <a href=" https://rina15kevalani.github.io/EmployeeManagement/" target="_blank"  class="common-heading">Project 1</a>

      </div>
    </div>


    <div class="img-overlay p-btn--3">
      <img src="../../assets/proj-2.avif" alt="my works" />
      <div class="card-body">
        <h5 class="card-title">E-commerce CakeShop Management System</h5>
        <p class="card-text">
          "In our Angular-Spring Boot cake shop application, users can browse and order cakes with ease.
          They can add products to their cart, securely pay online, and enjoy personalized email notifications.
          Administrators have full control, managing products and categories. It's a one-stop cake shopping experience!"
          <strong>Key Achievements:</strong>
          Angular-based frontend development for a responsive and user-friendly interface and aware for springboot.
        </p>
        <h4>Technology used:</h4>
        <p>Frontend: Angular , Backend: Springboot, Database:MySQL</p>
        <span class="hand-emoji">Click this Project☝️</span>
  </div>
      <div class="overlay">
        <a
          href="https://github.com/Rina15Kevalani/Cakeshopping "
          target="_blank"
          class="common-heading"
          >Project 2
        </a>
      </div>
    </div>

    <div class="img-overlay p-btn--1">
      <img src="../../assets/proj-3.jpg" alt="portfolio images " />
      <div class="card-body">
        <h5 class="card-title">Movie App</h5>
        <p class="card-text">
          "I've developed a movie app using JavaScript that lets Responsive design cards  and users explore and discover their favorite films.
          With a user-friendly interface, you can search for movies,cartoons, seriouls view details, watch trailers,
          +It's your one-stop destination for all things cinema!"
          <strong>Key Achievements:</strong>
          Learn about javascript.
        </p>
        <h4>Technology used:</h4>
        <p>Frontend: javascript, Html , css</p>
        <span class="hand-emoji">Click this Project☝️</span>
  </div>
      <div class="overlay">
        <a href="https://github.com/Rina15Kevalani/Movieapp" target="_blank" class="common-heading">Project 3</a>
      </div>
    </div>

    <div class="img-overlay p-btn--1">
      <img src="../../assets/proj-4.png" alt="portfolio images " />
      <div class="card-body">
        <h5 class="card-title">Course Registration</h5>
        <p class="card-text">
          "I've designed a robust course registration system using Java.
          This project streamlines the process of enrolling in courses for students and managing course offerings for administrators.
           Students can browse available courses, check schedules, and register for courses, enroll students.
          <strong>Key Achievements:</strong>
            core java knowledge about this project
        </p>
        <h4>Technology used:</h4>
        <p>Backend: java</p>
        <span class="hand-emoji">Click this Project☝️</span>
  </div>
      <div class="overlay">
        <a href="https://github.com/Rina15Kevalani/CourseRegistration" target="_blank" class="common-heading">Project 4</a>
      </div>
    </div>
  </div>

</section>






