<section class="section section-project" id="project-section">
  <div class="container">
    <h2 class="common-heading">My Projects</h2>
    <p>
      Projects provide an opportunity to tackle real-world problems and find solutions, fostering critical thinking and analytical skills.
      Working on projects allows individuals to enhance their technical skills, such as programming, design
      Projects challenge individuals to step out of their comfort zones, fostering personal growth and building confidence..
    </p>
  </div>

  <div class="container grid grid-three-column project-images">
    <div class="img-overlay">
      <img src="../../assets//proj-1.avif" alt="my works" />
      <div class="overlay">
        <a href=" https://rina15kevalani.github.io/MyRestaurent/" target="_blank"  class="common-heading">Project 1</a>
      </div>
    </div>

    <div class="img-overlay p-btn--3">
      <img src="../../assets/proj-2.avif" alt="my works" />
      <div class="overlay">
        <a
          href="https://rina15kevalani.github.io/TodoList/  "
          target="_blank"
          class="common-heading"
          >Project 2
        </a>
      </div>
    </div>

    <div class="img-overlay p-btn--1">
      <img src="../../assets/proj-3.jpg" alt="portfolio images " />
      <div class="overlay">
        <a href="" target="_blank" class="common-heading">Project 3</a>
      </div>
    </div>
  </div>
</section>
