<section class="contact_us">
  <div class="container">
      <div class="row">
          <div class="col-md-10 offset-md-1">
              <div class="contact_inner">
                  <div class="row">
                      <div class="col-md-10">
                          <div class="contact_form_inner">
                              <div class="contact_field">
                                  <h3 class="top-heading">Contact Us</h3>
                                  <p>Any Inquiry for me Feel free contact.</p>
                                  <input type="text" class="form-control form-group" placeholder="Name" />
                                  <input type="text" class="form-control form-group" placeholder="Email" />
                                  <textarea class="form-control form-group" placeholder="Message" ></textarea>
                                  <button class="contact_form_submit" (click)="sendMessage()">Send</button>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-2">
                          <div class="right_conatct_social_icon d-flex align-items-end">
                             <div class="socil_item_inner d-flex">
                                <li><a href="https://www.linkedin.com/in/rina-kevalani-762060218/"  target="_blank"><i class="fa fa-linkedin-square" style="color:rgba(22, 43, 235, 0.623)"></i></a></li>
                                <li><a  href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" style="color:rgb(17, 169, 240)"></i></a></li>
                                <li><a  href="https://www.instagram.com/kevlani_15/" target="_blank"><i class="fa fa-instagram" style="color:rgb(236, 54, 69)"></i></a></li>
                             </div>
                          </div>
                      </div>
                  </div>
                  <div class="contact_info_sec">
                      
                      <div>
                          <img src="../../assets/contact.png" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

