<section>
  <div>
    <h1 class="top-heading">Skills</h1>
  </div>

<div class="about-data-stats">
  <div class="about-stats">
    <h1>Bootstrap</h1>
    <div class="about-progress-bar">
      <span>80%</span>
    </div>
  </div>
  <div class="about-stats">
    <h3>HTML</h3>
    <div class="about-progress-bar about-progress-2">
      <span>99%</span>
    </div>
  </div>
  <div class="about-stats">
    <h3>CSS</h3>
    <div class="about-progress-bar about-progress-3">
      <span>90%</span>
    </div>
  </div>
  <div class="about-stats">
    <h3>JavaScript</h3>
    <div class="about-progress-bar about-progress-4">
      <span>80%</span>
    </div>
  </div>
  <div class="about-stats">
    <h3>Angular</h3>
    <div class="about-progress-bar about-progress-5">
      <span>75%</span>
    </div>
  </div>
  <div class="about-stats">
    <h3>Corejava</h3>
    <div class="about-progress-bar about-progress-6">
      <span>65%</span>
    </div>
  </div>
</div>

</section>





