<section class="section section-certificat">
  <div class="container">
    <h1 class="common-heading">My Certificates</h1>
  </div>


  <div class="certificat-box">
    <!-- <ion-icon name="camera-sharp" class="service-icon"></ion-icon> -->
    <img class="certificat-img" src="../../assets/certifications/3.png" alt="">
    <h3>Introductin Fronted-end developer --meta</h3>

  </div>

  <div class="certificat-box">
    <img class="certificat-img" src="../../assets/certifications/4.png" alt="">
    <h3>Angular crash course --ineuron</h3>

  </div>

  <div class="certificat-box">
    <img class="certificat-img" src="../../assets/certifications/5.png" alt="">
    <h3>web-Internet Fundametals</h3>
  </div>
  <div class="certificat-box">
    <img class="certificat-img" src="../../assets/certifications/7.png" alt="">
    <h3>Aptitude Test Preparation</h3>
  </div>

<div class="certificat-box">
  <img class="certificat-img" src="../../assets/certifications/8.png" alt="">
  <h3>Advance Certification Full stack java Developer course</h3>
</div>

<div class="certificat-box">
  <img class="certificat-img" src="../../assets/certifications/9.png" alt="">
  <h3>Accurnte UK - Developer and Technology Job Simulation</h3>
</div>

  <div class="container grid grid-three-column">
    <div class="certificat-box">
      <img class="certificat-img" src="../../assets/certifications/1.png" alt="">
      <p> It has participated in "Graffiti" an event of National Level Techfest IGNITE 2022</p>
    </div>

    <div class="certificat-box">
      <img class="certificat-img" src="../../assets/certifications/2.png" alt="">
      <p>Demonstrating Theortical understanding of Artificial Intelligence and Machine Learning</p>

    </div>
  <div class="certificat-box">
    <img class="certificat-img" src="../../assets/certifications/6.png" alt="">
    <h3>Hackathon compitetion</h3>
  </div>
</div>
</section>
