<section class="section section-certificat">
  <div class="container">
    <h1 class="common-heading">My Certificates</h1>
  </div>
<div class="container grid grid-three-column">
  <div class="certificat-box">
    <img class="certificat-img" src="../../assets/certifications/1.png" alt="">
    <h3>Grafiti</h3>
    <p>
      “It is participants in grafiti I have draw the save the earth ”
    </p>
  </div>

  <div class="certificat-box">
    <img class="certificat-img" src="../../assets/certifications/2.png" alt="">
    <h3>ML & AI</h3>
    <p>
      “It is not because things are difficult that we do not dare; it is
      because we do not dare that they are difficult.”
    </p>
  </div>

  <div class="certificat-box">
    <!-- <ion-icon name="camera-sharp" class="service-icon"></ion-icon> -->
    <img class="certificat-img" src="../../assets/certifications/3.png" alt="">
    <h3>Introductin Fronted-end developer --meta</h3>
    <p>
      “It is not because things are difficult that we do not dare; it is
      because we do not dare that they are difficult.”
    </p>
  </div>

  <div class="certificat-box">
    <img class="certificat-img" src="../../assets/certifications/4.png" alt="">
    <h3>Angular crash course --ineuron</h3>
    <p>
      “It is not because things are difficult that we do not dare; it is
      because we do not dare that they are difficult.”
    </p>
  </div>

  <div class="certificat-box">
    <img class="certificat-img" src="../../assets/certifications/5.png" alt="">
    <h3>web-Internet Fundametals</h3>
    <p>
      “It is not because things are difficult that we do not dare; it is
      because we do not dare that they are difficult.”
    </p>
  </div>

  <div class="certificat-box">
    <img class="certificat-img" src="../../assets/certifications/6.png" alt="">
    <h3>Hackathon compitetion</h3>
    <p>
      “It is not because things are difficult that we do not dare; it is
      because we do not dare that they are difficult.”
    </p>
  </div>
</div>
</section>
