<main>
  <section class="section-user section">
    <div class="container grid grid-two-column">
      <div class="section-user-data">
        <p class="user-top-data">this is me</p>
        <h1 class="user-heading">Rina kevalani</h1>
        <p class="user-para">
          Hi there ! My name is Rina kevalani. I am from Gujarat.<br>
          I am into Fronted Devloper.
        </p>
        <div>
          <a routerLink="/about" class="btn abtme-btn">About Me</a>
        </div>
      </div>
      <!-- hero section right side  -->
      <div class="section-user-image">
        <img src="../../assets/img.png"
            alt="this is me Rina kevalani"
            class="user-img"/>
      </div>
    </div>
  </section>
</main>


