<main>
  <section class="section-user section">
    <div class="container grid grid-two-column">
      <div class="section-user-data">
        <p class="user-top-data">Welcome to My Profile </p>
        <br><br><br>

        <h1 class="user-heading"> <span>I'm </span> Rina kevalani </h1>
        <p class="user-para">
          I am into Software Developer | Fronted Devloper|  <br>  Full-stack Developer.
        </p>
        <div>
          <a  class="btn abtme-btn" (click)="downloadCV()">Download CV</a>
        </div>
      </div>
      <div class="section-user-image">
        <img src="../../assets/img1.png" class="user-img"/>
      </div>
     </div>
  </section>
</main>



